<div style="text-align: center">
  <h1>Building a Raspberry Pi Cluster with Docker</h1>
  <img src="assets/images/docker_rpi.png" width="50%"/>

  <p>
    The Raspberry Pi is a great piece of hardware and thanks to its price (just 35$ for the Model 3 B+ and 10$ for the
    Model Zero W) enables everyone and everything to the world of computing. However, the price is not the only
    advantage. Indeed, size and technical specifications matter. The Raspberry Pi is a perfect IoT and/or micro-server
    enabler.
  </p>
</div>
